  <head>
    <%= stylesheet_link_tag    'denieds' %>
  </head>

  <body>
      <br>
      <div id="access-denied">
        <p>You do not have access for the requested action.</p>
      </div>
  </body>
</html>