<! DOCTYPE html>
<html>
  <head>
    <title>Discography</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>
  
  <body>
    <div id="container">
      <div id="nav-bar">
        <div id="nav-bar-container">
          <div id="pages">
            <div class="page-links"><a href="/pages/home"> <id="shows">Home</a></div>
            <div class="page-links"><a href="/pages/performance"> <id="shows">Shows</a></div>
            <div class="page-links"><a href="/pages/music"> <id="other-music">Music</a></div>
            <div class="page-links"><a href="/pages/contact"> <id="contact">Contact</a></div>
          </div>

          <div class="logo">You Folk</div>

          <div id="social-nav-buttons">
            <a class="social-media" href="https://www.instagram.com/you.folk/"> <img src="/assets/images/instagram.png"></a>
            <a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img src="/assets/images/facebook-logo.png"></a>
            <a class="social-media" href="https://youfolk.bandcamp.com/"> <img src="/assets/images/bandcamp-draw-logo.png"></a>
            <a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img src="/assets/images/spotify-logo.png"></a>
            <a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img src="/assets/images/youtube.png"></a>
          </div>
        </div>
      </div>

      <div id="contact-info">
        <b><u>Contact Info</u></b>
        <p>For booking/press inquiries, please contact:<br>
          Daniel Lee<br>
          youfolkchicago@gmail.com
          </p>
      </div>
    </div>

      <div id="footer">
        Copyright © 2019 You Folk
      </div>
  </body>
</html>