<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>You Folk</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- <link href="../../styles/youfolkstyles.css" rel="stylesheet"> -->
    
  </head>
  
  <body>
    <div id="container">
      <div id="header">
        <ul>
          <div id="logo">
            <h1>You Folk</h1>
          </div>
          
          <div id="top-wrapper">
          <ul>
            <li><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></li>
            <a href="https://www.facebook.com/youfolkchicago" class="fa fa-facebook-official"></a>
            <li><a href="https://soundcloud.com/youfolk"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
            <li><a href="http://youfolk.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
          </ul>
          </div>
        <ul>
          <div id="nav-buttons">

          </div>
        </ul>
      </header>
    </div>
    
    <div id="video">
    <iframe width="700" height="450" style="position:relative; top: 100px;" src="https://www.youtube.com/embed/aXZ_zAR5mVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    
      <footer>
        <div id="copyright">
         <h5>Copyright © 2019 You Folk</h5>
        </div>
      </footer>
  </body>
  </div>
</html>