<! DOCTYPE html>
<html>
  <head>
    <title>You Folk</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.curator.io/3.1/css/curator.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <script type="text/javascript">
(function(){
var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
i.src = "https://cdn.curator.io/published/135d9a27-d6ca-4cd5-b830-76c86d0dd626.js";
e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>


  </head>
  
    <body>
      <div id="nav-bar">
        <div id="nav-bar-container">
          <div id="pages">
            <div class="page-links"><a href="/pages/home"> <id="shows">Home</a></div>
            <div class="page-links"><a href="/gigs"> <id="shows">Shows</a></div>
            <div class="page-links"><a href="/albums"> <id="other-music">Music</a></div>
            <div class="page-links"><a href="/pages/contact"> <id="contact">Contact</a></div>
          </div>

          <div class="logo">You Folk</div>

          <div id="social-nav-buttons">
            <a class="social-media" href="https://www.instagram.com/you.folk/"> <img class="sm-buttons" src="/assets/images/instagram.png"></a>
            <a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img class="sm-buttons" src="/assets/images/facebook-logo.png"></a>
            <a class="social-media" href="https://youfolk.bandcamp.com/"> <img class="sm-buttons" src="/assets/images/bandcamp-draw-logo.png"></a>
            <a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img class="sm-buttons" src="/assets/images/spotify-logo.png"></a>
            <a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img class="sm-buttons" src="/assets/images/youtube.png"></a>
          </div>
        </div>
      </div>

    <div id="container">

      <div id="second-section">
        <div class="endearment">
          <video autoplay muted loop controls id="myVideo">
          <source src="/assets/videos/endearment.mp4" type="video/mp4">
          <button id="myBtn" onclick="myFunction()">Pause</button>
          </video>
        </div>

      <div id="third-section">
        <div class="carousel-container">
          <i class="fas fa-arrow-circle-left" id="prevBtn"></i>
          <i class="fas fa-arrow-circle-right" id="nextBtn"></i>
          <div class="carousel-slide">
            <img class="shots" src="/assets/images/evan.jpg" id="evanClone" alt="evan">
            <img class="shots" src="/assets/images/liveband.jpg" alt="band together">
            <img class="shots" src="/assets/images/liveband2.jpg" alt="band together 2">
            <img class="shots" src="/assets/images/double.jpg" alt="double">
            <img class="shots" src="/assets/images/me.jpg" alt="me">
            <img class="shots" src="/assets/images/rebecca.jpg" alt="rebecca">
            <img class="shots" src="/assets/images/bryan.jpg" alt="bryan">
            <img class="shots" src="/assets/images/evan.jpg" alt="evan">
            <img class="shots" src="/assets/images/liveband.jpg" id="groupClone" alt="band together">
          </div>
        </div>
      </div>

<!--         <div id="live-band">
          <img id="naperville-pic" src="/assets/images/liveband.jpg" alt="live band shot">
        </div>
      </div> -->
      
      <div id="curator-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
      </div>  
      
      </div>
      <div id="footer">
        Copyright © 2019 You Folk
      </div>

      <script src="/assets/app.js"></script>
  </body>
</html>