<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>You Folk</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.curator.io/3.1/css/curator.css"/>
    <!-- <link href="../../styles/youfolkstyles.css" rel="stylesheet"> -->
    <script type="text/javascript">
(function(){
var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
i.src = "https://cdn.curator.io/published/135d9a27-d6ca-4cd5-b830-76c86d0dd626.js";
e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>
  </head>
  
    <body>
      <div id="nav-bar">
        <div id="nav-bar-container">
          <div class="logo"><h1>You Folk</h1></div>
          <div id="pages">
            <div class="page-links"><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></div>
            <div class="page-links"><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></div>
            <div class="page-links"><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></div>
            <div class="page-links"><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></div>
          </div>
          <div id="social-nav-buttons">
            <a class="social-media" href="https://www.instagram.com/you.folk/"> <img src="/assets/images/instagram.png"></a>
            <a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img src="/assets/images/facebook-logo.png"></a>
            <a class="social-media" href="https://youfolk.bandcamp.com/"> <img src="/assets/images/bandcamp-draw-logo.png"></a>
            <a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img src="/assets/images/spotify-logo.png"></a>
            <a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img src="/assets/images/youtube.png"></a>
          </div>
        </div>
      </div>

    <div id="container">

      <div id="second-section">
        <div class="endearment">
          <video autoplay muted loop controls id="myVideo">
          <source src="/assets/videos/endearment.mp4" type="video/mp4">
          <button id="myBtn" onclick="myFunction()">Pause</button>
          </video>
        </div>

        <div id="live-band">
          <img id="naperville-pic" src="/assets/images/liveband.jpg" alt="live band shot">
        </div>
      </div>

              Place <div> tag where you want the feed to appear
      
      <div id="curator-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
      </div>  

      <div id="footer">
        Copyright © 2019 You Folk
      </div>
  </body>
  </div>
</html>