<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>You Folk</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- <link href="../../styles/youfolkstyles.css" rel="stylesheet"> -->
    
  </head>
  
  <body>
    <div id="container">
      <div id="header">
          <div id="top-wrapper">
            <div class="logo">
              <h1>You Folk</h1>
            </div>
            <div id="pages">
              <ul>
              <li><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></li>
              <li><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></li>
              <li><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></li>
              <li><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></li>
              </ul>
            </div>

            <div id="buttons">
              <ul id="social-media-links">
              <li><a class="social-media" href="https://www.instagram.com/you.folk/"> <img src="/assets/images/instagram.png"></a></li>
              <li><a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img src="/assets/images/facebook-logo.png"></a></li>
              <li><a class="social-media" href="https://youfolk.bandcamp.com/"> <img src="/assets/images/bandcamp-draw-logo.png"></a></li>
              <li><a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img src="/assets/images/spotify-logo.png"></a></li>
              <li><a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img src="/assets/images/youtube.png"></a></li>
              </ul>
            </div>
          </div>
      </div>
    
    <div id="video">
    <iframe width="840" height="540" style="position:relative; top: 100px;" src="https://www.youtube.com/embed/aXZ_zAR5mVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    
      <footer>
        <div id="copyright">
         <h5>Copyright © 2019 You Folk</h5>
        </div>
      </footer>
  </body>
  </div>
</html>