<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>Discography</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="../../styles/youfolkstyles.css" rel="stylesheet">
  </head>
  
  <body>
    <div id="container">
      <div id="header">
        <ul>
          <div id="logo">
            <h1>You Folk</h1>
          </div>
          
          <div id="top-wrapper">
          <ul>
            <li><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></li>
            <a href="https://www.facebook.com/youfolkchicago" class="fa fa-facebook-official"></a>
            <li><a href="https://soundcloud.com/youfolk"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
            <li><a href="http://youfolk.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
          </ul>
          </div>
        <ul>
      </header>
      
      <div id="discog">

      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=663933945/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://youfolk.bandcamp.com/album/the-foil">The Foil by You Folk</a></iframe>

      </div>
      
    </div>
      <footer>
        <div id="copyright">
         <h5>Copyright © 2019 You Folk</h5>
        </div>
      </footer>
  </body>
  </body>
  </div>
</html>