<! DOCTYPE html>
<html>
  <head>
    <title>Discography</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>

  <body id="music-body">
    <div id="container">
      <div id="nav-bar">
        <div id="nav-bar-container">
          <div id="pages">
            <div class="page-links"><a href="/pages/home"> <id="shows">Home</a></div>
            <div class="page-links"><a href="/pages/performance"> <id="shows">Shows</a></div>
            <div class="page-links"><a href="/pages/music"> <id="other-music">Music</a></div>
            <div class="page-links"><a href="/pages/contact"> <id="contact">Contact</a></div>
          </div>

          <div class="logo">You Folk</div>

          <div id="social-nav-buttons">
            <a class="social-media" href="https://www.instagram.com/you.folk/"> <img class="sm-buttons" src="/assets/images/instagram.png"></a>
            <a class="social-media" href="https://www.facebook.com/youfolkchicago/"> <img class="sm-buttons" src="/assets/images/facebook-logo.png"></a>
            <a class="social-media" href="https://youfolk.bandcamp.com/"> <img class="sm-buttons" src="/assets/images/bandcamp-draw-logo.png"></a>
            <a class="social-media" href="https://open.spotify.com/artist/7yhjL6UyyiIIOjXuXdRWlu?si=NiV3QC6qStu9JwKPqB1XuA"> <img class="sm-buttons" src="/assets/images/spotify-logo.png"></a>
            <a class="social-media" href="https://www.youtube.com/channel/UCiQLENUc7xhn13woW_Dodeg?view_as=subscriber"> <img class="sm-buttons" src="/assets/images/youtube.png"></a>
          </div>

        </div>
      </div>

      <div id="outer-albums-list">
        <img src="/assets/images/thefoil.jpg">
        <div class="albums-list" id="discog-albums-list">
          <div id="discog-header">Discography</div>
          <ul>
            <li><iframe src="https://bandcamp.com/EmbeddedPlayer/album=663933945/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://youfolk.bandcamp.com/album/the-foil">The Foil by You Folk</a></iframe></li>
          </ul>
        </div>
      </div>

      <div id="outer-albums-list2">
        <div class="albums-list" id="related-albums-list">
          <div id="other-music-header">Related Work</div>
          <ul class="related-albums">
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/track=14829773/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://yearnings.bandcamp.com/track/coffee">Coffee by Yearnings</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2665810023/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://deadlyhabits.bandcamp.com/album/night-vision-3">Night Vision by Deadly Habits</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2720578614/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://harm-less.bandcamp.com/album/standing-still">Standing, Still by HARM LESS</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4006665383/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://indisposed.bandcamp.com/album/attestments">Attestments by Indisposed</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1121389605/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://deadsunchicago.bandcamp.com/album/extemporary">Extemporary by Dead Sun</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=877467719/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://rottingindirt.bandcamp.com/album/dredge">dredge by rotting in dirt</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1786527002/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://naturesneighbor.bandcamp.com/album/ur">Ur by Nature&#39;s Neighbor</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=2091778462/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://americanwolf.bandcamp.com/track/not-my-life">Not My Life by American Wolf</a></iframe></li>
            <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2922721489/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://enhasa.bandcamp.com/album/from-forest-green">From Forest Green by Enhasa</a></iframe></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="footer">
      Copyright © 2019 You Folk
    </div>
  </body>
</html>
