<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>Discography</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- <link href="../../styles/youfolkstyles.css" rel="stylesheet"> -->
  </head>
  
  <body>
<!--     <div id="container"> -->
      <div id="header">
        <ul>
          <div id="top-wrapper">
            <div class="logo">
              <h1>You Folk</h1>
            </div>
            <ul>
            <li><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></li>
            <a href="https://www.facebook.com/youfolkchicago" class="fa fa-facebook-official"></a>
            <li><a href="https://soundcloud.com/youfolk"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
            <li><a href="http://youfolk.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        <ul>
      </div>

      <div class="albums-list">
        <ul>
        <li><div id="discog-header"><h3>Discography</h3></div></li>
      <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=663933945/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://youfolk.bandcamp.com/album/the-foil">The Foil by You Folk</a></iframe></li>
        <li><div id="other-music-header"><h3>Related Work</h3></div></li>
        <li><iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=14829773/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://yearnings.bandcamp.com/track/coffee">Coffee by Yearnings</a></iframe></li>
        <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2665810023/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://deadlyhabits.bandcamp.com/album/night-vision-3">Night Vision by Deadly Habits</a></iframe></li>
        <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2720578614/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://harm-less.bandcamp.com/album/standing-still">Standing, Still by HARM LESS</a></iframe></li>
        <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4006665383/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://indisposed.bandcamp.com/album/attestments">Attestments by Indisposed</a></iframe></li>
        <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1121389605/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://deadsunchicago.bandcamp.com/album/extemporary">Extemporary by Dead Sun</a></iframe></li>
        <li><iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=877467719/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://rottingindirt.bandcamp.com/album/dredge">dredge by rotting in dirt</a></iframe></li>
        </ul>
      </div>
      
<!--     </div> -->
      <footer>
        <div id="copyright">
         <h5>Copyright © 2019 You Folk</h5>
        </div>
      </footer>
  </body>
  </div>
</html>