<! DOCTYPE html>
<html>
  <div id="wrapper">
  <head>
    <title>Store</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- <link href="../../styles/youfolkstyles.css" rel="stylesheet"> -->
  </head>
  
  <body>
    <div id="container">
      <div id="header">
        <ul>
          <div id="top-wrapper">
            <div class="logo">
              <h1>You Folk</h1>
            </div>
            <ul>
            <li><a href="C:/Users/dlee231/Documents/Projects/youfolkshows.html"> <id="shows">Shows</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkcontact.html"> <id="contact">Contact</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkmerch.html"> <id="merch">Merch</a></li>
            <li><a href="C:\Users\dlee231\Documents\Projects\youfolkothermusic.html"> <id="other-music">Music</a></li>

            <li><a href="https://www.instagram.com/you.folk/" class="fa fa-instagram"><img src="C:\Users\ddlee929\Desktop\Projects\YouFolkWebsite\app\assets\stylesheets\images\instagram.png" style="width:5px;height:5px;border:0;"></a></li>
            <li><a href="https://soundcloud.com/youfolk"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
            <li><a href="http://youfolk.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        <ul>
      </div>
      
    </div>
      <footer>
        <div id="copyright">
         <h5>Copyright © 2019 You Folk</h5>
        </div>
      </footer>
  </body>
  </div>
</html>