<head>
  <%= stylesheet_link_tag    'albums' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>

<div id="edit-heading-albums">Edit Album</div>

<div class="new-album"><%= link_to 'Back to albums list', list_albums_path %></div>

<%= render 'form' %>
