<! DOCTYPE html>
<html>
  <head>
    <title>Discography</title>
    <%= stylesheet_link_tag    'albums' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>

  <body id="music-body">

      <div id="outer-albums-list">
        <img id ="the-foil-img" src="<%= asset_path 'thefoil.jpg' %>">
        <div class="albums-list" id="discog-albums-list">
          <div id="discog-header">Discography</div>
          <div id="the-foil-embed-container">
            <div id="the-foil-embed"><iframe id="the-foil-iframe" src="https://bandcamp.com/EmbeddedPlayer/album=663933945/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://youfolk.bandcamp.com/album/the-foil">The Foil by You Folk</a></iframe></div>
          </div>
        </div>
      </div>

      <div id="outer-albums-list2">
        <div class="albums-list" id="related-albums-list">
          <div id="other-music-header">Related Work</div>
          <ul class="related-albums">

        <% Album.all.each do | album | %>
        <li id=><a href="<%= album.url %>"><img class="album-img" src="<%= asset_path album.image %>"></a>
        </li>

      <% end %>
          </ul>
          </div>

  </body>
</html>