html {
  height: 100%;
}

body {
    background-color: #ffffff; 
    height: 100%;
    margin: 0; 
    padding: 0;
    background: url("images/band.jpg") no-repeat center center fixed;
    background-size: cover;
}

#music-body {
    background-color: #ffffff; 
    height: 100%;
    margin: 0; 
    padding: 0;
    background: none;
    background-size: cover;
}

#nav-bar {
  width: 100%;
  height: 65px;
  margin: 0;
  position: fixed;
  top: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
  border: 2px solid red;
  z-index: 10;
  opacity: 0.9;
/*  flex-direction: row;*/
  
}

#nav-bar-container {
  position: relative;
  width: 100%;
  height: 65px;
}

#container {
    height: auto;
    min-height: 95%;
    position: relative;
    margin-top: 65px;
}

.logo {
  margin-top: -10px;
  margin-left: 30px;
}

#pages {
  float: left;
  margin-left: 20%;
  position: absolute;
  margin-top: 10px;
  margin-left: 20%;
  min-width: 30%;
  top: 0;
/*  border: 1px solid black;*/
}

a {
  color: black;
}

.page-links {
  margin-right: 5%;
  display: inline;
  font-size: 17px;
}

#social-nav-buttons {
  float: right;
  position: absolute;
  margin-top: 10px;
  margin-left: 78%;
  min-width: 23%;
  top: 0;

/*  border: 1px solid black;*/

}

.social-media {
    margin-right: 5%;
    display: inline;
}

img {
  width: 18px;
  height: 18px;
}

a:link {
  text-decoration: none;
}

iframe {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums-list {
  margin: 0;
  height: auto;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.albums-list ul {
  list-style-type: none;
}

.albums-list ul li {
  list-style-type: none;
  position: relative;
  display: inline-block;
}

.albums-list ul li iframe {
  border: 0;
  width: 350px;
  height: 470px;
  padding-right: 30px;
}

#outer-albums-list {
  width: 100%;
  height: 620px;
  position: relative;
}

#outer-albums-list img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

#outer-albums-list2 {
  height: auto;
  position: relative;
}

#discog-albums-list {
}

#related-albums-list {
  background: url("images/blue.jpg") no-repeat center center fixed;
  margin-top: 20px;
}

#discog-header {
  padding-top: 25px;
  color: white;
  font-size: 50px;
  text-align: center;
  width: auto;
}

#heading1 {
  width: 400px;
  margin: 0px auto;
  border: 1px solid purple;
}

#heading2 {
  border: 1px solid white;
  width: 400px;
  margin: 0px auto;
}

#other-music-header {
  padding-top: 25px;
  color: white;
  font-size: 50px;
  text-align: center;
}

#video {
  position: fixed;
  left: 20%;
  margin: 0 auto;
}

#contact-info {
  height: 25%;
  width: 30%;
  font-size: 25px;
  border: 1px solid green;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: white;
      -moz-opacity: 0.80;
      -khtml-opacity: 0.8;
      opacity: 0.8;
}

#second-section {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
/*  min-width: 100%; 
  min-height: 100%;*/
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.endearment {
  height: 100%;
  width: 100%;
  border: 1px solid pink;
  position: relative;
  margin-bottom: 20px;
}

#live-band{
  height: 800px;
  width: 100%;
  position: relative;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#naperville-pic {
  display: block;
  height: 95%;
  width: 95%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#curator-feed {
  position: absolute;
/*  height: 100%;*/
  width: 100%;
  margin: auto;
  border: 1px solid green;
  background-color: black
}

#footer {
  margin: 0px;
  padding-top: 20px;
  position: relative;
  width: 100%;
  height: 40px;
  color: black;
  text-align: center;
}
