

body {
    background-color: #ffffff; 
    margin: 0; 
    padding: 0;
    background: url("images/band.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
  height: 7%;
  width: 100%;
    -moz-opacity: 0.80;
      -khtml-opacity: 0.8;
    opacity: 0.8;
    margin-bottom: 100px;
}

header ul {
  position: relative;
}

#top-wrapper {
  position: fixed;
  margin-top: -50px;
}

#top-wrapper ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-left: 90px;
  list-style: none;
}

.logo {
  margin-top: 0px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

nav-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -45px;
  margin-right: 150px;
}

a:link {
  text-decoration: none;
}

#top-wrapper li {
  width: 100px;
  float: right;
  margin-left: 1px;
}


h2 {
    position: relative;
    font-family: Book Antiqua;
}

iframe { 
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.albums-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums-list ul {
  list-style-type: none;
}

#discog-header {
  color: white;
  font-size: 50px;
}

#other-music-header {
  color: white;
  font-size: 50px;
}