body {
    background-color: #ffffff; 
    margin: 0; 
    padding: 0;
    background: url("images/band.jpg") no-repeat center center fixed;
    background-size: cover;
}

#nav-bar {
  width: 100%;
  height: 20%;
    -moz-opacity: 0.80;
      -khtml-opacity: 0.8;
    opacity: 0.8;
  margin: 0;
  display: flex;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
  border: 2px solid red;
  flex-direction: row;
}

#wrapper {
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 60px 100px;
    flex-wrap: nowrap;

}

#container {
    border: 1px solid blue;
    display: flex;
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 60px 100px;*/
/*    flex-wrap: nowrap;
    flex-direction: row;*/
}

.logo {
  margin-top: -10px;
  margin-left: 30px;
}

#pages {
  float: left;
  margin-left: 20%;
  justify-content: flex-start;
  position: absolute;
  margin-top: 1.5%;
  margin-left: 20%;
  min-width: 30%;
  border: 1px solid black;

}

.page-links {
  margin-right: 5%;
  display: inline;
  font-size: 17px;
}

#social-nav-buttons {
  float: right;
  position: absolute;
  margin-top: 1.5%;
  margin-left: 78%;
  min-width: 23%;
  border: 1px solid black;

}

.social-media {
    margin-right: 5%;
    display: inline;

/*  padding: 0px;
  line-height: 10%;*/
}

img {
  width: 18px;
  height: 18px;
}

a:link {
  text-decoration: none;
}

h2 {
    position: relative;
    font-family: Book Antiqua;
}

iframe { 
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.albums-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums-list ul {
  list-style-type: none;
}

#discog-header {
  color: white;
  font-size: 50px;
}

#other-music-header {
  color: white;
  font-size: 50px;
}

#video {
  position: fixed;
  left: 20%;
  margin: 0 auto;
}

#contact-info {
  height: 25%;
  width: 30%;
  font-size: 25px;
  border: 1px solid green;
  position: fixed;
  left: 36%;
  margin-top: 18%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  text-align: center;
  background-color: white;
      -moz-opacity: 0.80;
      -khtml-opacity: 0.8;
      opacity: 0.8;
}