  <head>
    <%= stylesheet_link_tag    'gigs' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>

<div id="edit-heading-gigs">Edit Show</div>

<div class="new-gig"><%= link_to 'Back to gigs list', list_gigs_path %></div>

<%= render 'form' %>
