<h1>Edit</h1>

<%= render 'form' %>
<!-- 
      <% Gig.all.sort_by{|g| g.date}.each do | gig | %>
        
        <%= gig.date %>
        <%= gig.artists %>
        <%= gig.location %>

      
      <% end %> -->